h2 {
    margin:0 auto;
    font-size:2rem;
    margin:0.625rem 0.625rem 3rem 0.625rem;
}

.flex-container { 
    display:flex;
    justify-content:center;
    align-items:center;
}

.flex-column{
    height:100%;
    width:100%;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
    width:33.75rem;
}

.cell { 
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0,0,0,0.75);
    height:10.9375rem;
    width:10.9375rem;
    background-color: aliceblue;
    font-size:3rem;
}

.cell.X,
.cell.O { 
    border: 2px solid rgba(0,0,0,0.75);
    height:10.9375rem;
    width:10.9375rem;
    cursor: not-allowed;
}

#reset-button { 
    text-align: center;
    font-size:1.25rem;
    border: 1px solid black;
    height: 3.4375rem;
    width:6.25rem;
    margin:0.625rem;
}

.cell.X {
    background-color: greenyellow;
}

.cell.O {
    background-color: violet;
}

/*excess border removal*/

.cell:nth-child(-n + 3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right:none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}